.card {
    cursor: pointer;
}

.cardCases {
    color: red;
}

.card--selected {
    border-top: 10px solid greenyellow;
}

.card--red {
    border-color: red;
}

.card--green {
    color: greenyellow;
}

